<div class="home-container">
  <section class="home-section">
    <div class="container text-center">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 image-col">
          <img src="https://media.istockphoto.com/id/1219014036/video/shopping-grocery-products-stock-animation-alpha-matte.jpg?s=640x640&k=20&c=tlDAQzl1lr4ynJfD4wjVw9WgcQT9gcTry5AQ0JMgcK8=" 
               alt="Grocery Store" 
               class="grocery-image">
        </div>
        <div class="col-md-6 text-col">
          <h2>Welcome to Fresh Today</h2>
          <p>Welcome to Fresh Today, your go-to online grocery store! Our mission is to make grocery shopping easy, quick, and convenient. Browse through a wide range of fresh produce, pantry staples, and household essentials from the comfort of your home.</p>
          <p>With an intuitive interface, personalized recommendations, and secure payment options, Fresh Today ensures a seamless shopping experience every time. Shop smarter, save time, and enjoy doorstep delivery with Fresh Today</p>
          <button class="btn btn-primary btn-lg" (click)="onShop()" >Start Shopping</button>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
