/* Footer Styling */
footer {
  font-size: 14px;
  background-color: #dc143c; /* Light background */
 
  padding: 20px 0; /* Additional padding for better spacing */
}

/* Footer Headings */
footer h5 {
  color: #ffffff; /* Green color for headings */
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 16px; /* Slightly larger font for emphasis */
}

/* Footer Paragraphs */
footer p {
  color: #ffffff; /* Neutral text color for better readability */
  margin-bottom: 0.5rem;
}

/* Footer Links */
footer a {
  color: #ffffff; /* Neutral link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

footer a:hover {
  color: #000000; /* Green color on hover */
}

/* Footer Layout Spacing */
footer .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .list-unstyled li {
  margin-bottom: 0.5rem;
}
