<footer class=" text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Us</h5>
          <p>To Buy grocery Shopping online, Fresh Today has everything you need for your daily needs, from cleaning supplies to beauty and makeup. We have become accustomed to convenience.We've taken away all of the hassles that come with shopping for everyday necessities. You can now order all of your household items and even food online without having to travel long distances or stand in long lines. Add in the convenience of getting all of your necessities in one place, as well as significant cost savings. Fresh Today Supermarket, one of the most popular online supermarkets in India, has changed the way people buy food.</p>
        </div>
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/shopping">Products</a></li>
            <li><a routerLink="/my-cart">Cart</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <p>81/11 MG Street, Banglore , India</p>
          <p>Email: info@freshtoday.com</p>
          <p>Phone: +91 97 9658 9885 </p>
        </div>
      </div>
    </div>
  </footer>