.loader-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-container{
    height: 90vh;
    overflow: auto;
}

.img-fluid{
    width: 30%;
}
@media screen and (max-width:768px) {
    .img-fluid{
        width: 100%;
    }
}
.card-custom-border {
    border: 2px solid #dc143c; /* Sets the border color and thickness */
    border-radius: 8px; /* Optional: Adds a slight roundness to the corners */
}
.card-custom-border {
    border: 2px solid transparent; /* Default border color */
    border-radius: 8px; /* Optional: Adds slight roundness to the corners */
    transition: border-color 0.3s ease; /* Smooth transition for hover effect */
}

.card-custom-border:hover {
    border-color: #dc143c; /* Changes border color on hover */
}
